
body {
   overflow-x: hidden;
}

body.overflowYhidden {
   overflow-y: hidden;
}

.container {
   position: relative;
   width: 100%;
}


.menu {
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 20px;
   cursor: pointer;
   z-index: 1000;
   top: 20px;
   right: 20px;
}

.line {
   position: absolute;
   width: 100%;
   height: 2px;
   background: #fff;
   transition: 0.2s;
}

.line:nth-child(2) {
   top: 50%;
   transform: translateY(-50%);
}

.line:nth-child(3) {
   bottom: 0;
}

.line:nth-child(2).hide {
   margin-left: 30px;
   opacity: 0;
   visibility: hidden;
}

.line:nth-child(1).rotatefirst {
   margin-top: 9px;
   transform: rotate(45deg);
}

.line:nth-child(3).rotatesecond {
   margin-bottom: 9px;
   transform: rotate(-45deg);
}

nav {
   position: fixed;
   padding-top: 80px;
   background: #9D8159;
   color: #E3D6C4;
   font-family: 'Franklin Gothic', sans-serif;
   height: 100%;
   width: 80%;
   right: -80%;
   z-index: 999;
   text-align: right;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 15px;
   transition: .3s;

   ul {
      padding: 0 20px !important;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
         margin: 20px 0;
      }
   }
}

nav.show {
   right: 0 !important;
}

.title {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Franklin Gothic', sans-serif;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-weight: bolder;

   .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .shadow {
         position: absolute;
         opacity: .2;
      }

      .text {
         line-height: 20px;
         font-family: 'Franklin Gothic', sans-serif;
         text-transform: uppercase;
         z-index: 2;
      }
   }
}

section {
   box-sizing: border-box;
   padding: 20px 0;
}

.hero {
   position: relative;
   background-color: #1F2229;
   height: 100vh;
   display: flex;
   flex-direction: column;
   z-index: 1;

   .shadow {
      top: -30px;
      font-size: 45px;
   }

   .text {
      font-size: 25px;
   }

   .shadow, .text {
      color: #E3D6C4;
   }

   .title {
      flex: 1;
   }
   
   .catchphrase {
      z-index: 2;
      box-sizing: border-box;

      hr {
         background: #9C5634;
         border: none;
         height: 2px;
         width: 152px;
      }

      p {
         font-family: 'Karla', sans-serif;
         font-size: 12px;
         color: #E3D6C4;
         text-align: center;
      }
   }
}

.hero::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-image: url('images/Compass.jpg');
   background-size: cover;
   background-position: 50%;
   opacity: 0.1;
}

.services {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 2;
   background-color: #E3D6C4;
   color: #9C5634;
   padding-bottom: 40px;

   .header {
      margin: 40px 0 10px 0;
      
      .shadow {
         font-size: 30px;
         top: -20px;
      }

      .text {
         font-size: 20px;
      }
   }
      
   .service {
      font-family: 'Karla', sans-serif;
      text-align: center;
      width: calc(100vw - 100px);
      margin: 50px auto 0 auto;

      h4 {
         font-size: 18px;
         font-weight: bolder;
         margin: 10px 0;
         letter-spacing: 1px;
      }

      p {
         font-size: 14px;
         // font-weight: lighter;
         letter-spacing: 1px;
         line-height: 24px;
         color: #9D8159;
      }
   }
}

.large_image {
   position: relative;
   padding: 0;
   background-color: #1F2229;
   z-index: 900;

   > div {
      padding: 20px 0;
   }

   .how_we_started {
      color: #9D8159;

      .header {
         margin: 40px auto 0 auto;
         white-space: nowrap;

         .shadow {
            font-size: 30px;
            top: -20px; 
         }

         .text {
            font-size: 20px;
         }
      }

      .subtext {
         margin: 80px auto 0 auto;
         max-width: calc(100vw - 100px);
         min-width: 200px;
         width: 500px;

         p {
            font-family: 'Karla', sans-serif;
            text-align: center;
            line-height: 26px;
            font-size: 14px;
         }

         hr {
            background: #9C5634;
            border: none;
            height: 4px;
            width: 80%;
         }
      }
   }

   .get-in-touch {
      position: relative;
      height: 100vh;
      // overflow: hidden;
      padding-bottom: 0;
      margin-top: 100px;
      z-index: 2;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

      .clip-under {
         box-sizing: border-box;
         // position: absolute;
         width: 100%;
         // height: 100%;
         // margin: 50px 0 0 25px;

         h2 {
            text-align: center;
            margin: 10px 0;
            font-family: 'Franklin Gothic', sans-serif;
            font-size: 28px;
            color: #E3D6C4;
            letter-spacing: 5px;
            text-transform: uppercase;
         }
      }

      .clip-over {
         // position: absolute;
         width: 100%;
         // height: 100%;
         // clip-path: polygon(100% 0, 0% 100%, 100% 100%);
         // background-color: #E3D6C4;
         display: flex;
         flex-direction: column;
         // justify-content: flex-end;
         // align-items: flex-end;
         z-index: 10;
         font-family: 'Karla', sans-serif;
         box-sizing: border-box;
         padding: 0 100px;

         h3 {
            color:#9D8159;
            font-size: 20px;
            letter-spacing: 1px;
            text-align: center;
            margin: 0 0 10px;

            &:first-child {
               font-size: 28px;
               margin: 50px 0 10px;
            }
         }

         p {
            margin: 3px 0;
            color: #9D8159;
            font-size: 10px;
            text-align: center;
         }

         form {
            display: flex;
            flex-direction: column;
            margin: 10px 0 20px;

            .input-text {
               display: flex;
               flex-direction: column;
            }

            input{
               box-sizing: border-box;
               border-radius: 50px;
               border: .5px solid #9D8159;
               background: rgba( 0, 0, 0, 0);
               color: #9D8159;
            }

            textarea {
               border-radius: 20px;
               border: .5px solid #9D8159;
               background: rgba( 0, 0, 0, 0);
               color: #9D8159;
               resize: none; 
            }

            input, textarea {
               margin: 2.5px 0;
               padding: 10px 20px;
               font-family: 'Karla', sans-serif;
               font-size: 10px;
            }

            #submit {
               background-color: #9D8159;
               color: #E3D6C4;
               box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
               cursor: pointer;
            }

            input::placeholder, textarea::placeholder {
               color: #9D8159;
            }

            input:focus, textarea:focus {
               outline: none;
            }
         }
      }
   }
}

.large_image::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url('images/Business.jpg') no-repeat;
   background-size: cover;
   background-position: 50% 0;
   opacity: .3;
   z-index: -1;
}

footer {
   padding: 10px;
   text-align: center;
   font-family: 'Franklin Gothic', sans-serif;
   background: #9D8159;

   p {
      margin: 0;
      color: #fff;
      letter-spacing: 1px;
      font-weight: lighter;
      font-size: 10px;
   }
}

@media screen and (min-width: 768px) {

   .menu {
      display: none;
   }

   nav {
      padding: 0;
      width: 100%;
      left: 0;
      transition: 0s;
      height: auto;
      background: rgba(0, 0, 0, 0.5);
      
      ul {
         padding: 20px 50px !important;
         display: flex;
         justify-content: flex-end;

         li {
            font-size: 10px;
            margin: 20px;
         }
      }
   }

   .hero {

      .text {
         font-size: 80px;
      }

      .shadow {
         font-size: 120px;
         top: -100px;
         letter-spacing: 25px;
      }

      .catchphrase {
         display: flex;
         flex-direction: column-reverse;
         width: 50%;

         hr {
            width: 80%;
            height: 5px;
            margin: 0 0 20px;
         }
         p {
            text-align: right;
            font-size: 20px;
            letter-spacing: 2px;
         }
      }
   }

   .services {
      padding: 100px 0;

      .header {
         box-sizing: border-box;
         width: 100%;
         padding: 0 12%;

         span {
            width: 100%;
            text-align: left;
         }

         .text {
            font-size: 30px;
         }
         
         .shadow {
            font-size: 60px;
            left: -60px;
            top: -40px;
         }
      }

      .row {
         box-sizing: border-box;
         width: 100%;
         display: flex;
         padding: 0 12%;

         .service {
            box-sizing: border-box;
            display: flex;

            width: 100%;

            img {
               width: 70px;
            }

            .description {
               box-sizing: border-box;
               text-align: justify;
               padding: 0 40px;
            }
         }
      }
   }

   .large_image {

      .how_we_started {
         padding: 100px 0 50px;

         .header {

            .text {
               font-size: 30px;
            }

            .shadow {
               font-size: 60px;
               top: -45px;
            }
         }

         .subtext {
            p {
               font-size: 18px;
               margin: 0;
            }

            hr {
               height: 2px;
               width: 100%;
               margin: 40px 0;
            }
         }
      }

      .get-in-touch {
         padding-bottom: 100px;
         .clip-under {
            .diag {
               h2 {
                  font-size: 40px;
               }
            }
         }

         .clip-over {
            display: flex;
            flex-direction: column;
            align-items: center;
            form {
               margin: 20px 0 0;
               width: 400px;
            }
         }
      }
   }
}