body {
   overflow: hidden;
}

.preload * {
   -webkit-transition: none !important;
   -moz-transition: none !important;
   -ms-transition: none !important;
   -o-transition: none !important;
   transition: none !important;
}

.container {
   position: relative;
   width: 100%;
}


.menu {
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 20px;
   cursor: pointer;
   z-index: 1000;
   top: 30px;
   right: 30px;
}

.line {
   position: absolute;
   width: 100%;
   height: 2px;
   background: #fff;
   transition: 0.2s;
}

.line:nth-child(2) {
   top: 50%;
   transform: translateY(-50%);
}

.line:nth-child(3) {
   bottom: 0;
}

.line:nth-child(2).maincss_hide {
   margin-left: 30px;
   opacity: 0;
   visibility: hidden;
}

.line:nth-child(1).rotatefirst {
   margin-top: 9px;
   transform: rotate(45deg);
}

.line:nth-child(3).rotatesecond {
   margin-bottom: 9px;
   transform: rotate(-45deg);
}

nav {
   position: fixed;
   padding-top: 80px;
   background: #9D8159;
   color: #E3D6C4;
   font-family: 'Franklin Gothic', sans-serif;
   height: 100%;
   width: 80%;
   right: -80%;
   z-index: 10;
   text-align: right;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 15px;
   transition: .3s;
   pointer-events: none;

   ul {
      padding: 0 20px !important;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
         margin: 20px 0;

         a {
            text-decoration: none;
            color: #E3D6C4;
            pointer-events: auto;
            transition: .2s;
         }
      }
   }
}

nav.maincss_show {
   box-shadow: -10px 0 200px #000;
   transform: translateX(-100%) !important;
}

.title {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Franklin Gothic', sans-serif;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-weight: bolder;

   .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .shadow {
         position: absolute;
         opacity: .2;
      }

      .text {
         line-height: 20px;
         font-family: 'Franklin Gothic', sans-serif;
         text-transform: uppercase;
         z-index: 2;
      }
   }
}

main {
   height: 100vh;
   width: 100vw;
   overflow-y: scroll;
   overflow-x: hidden;
   scroll-behavior: smooth;
   perspective: 2px;
   transform-style: preserve-3d;
}

main.overflowYhidden {
   overflow-y: hidden;
}

section {
   box-sizing: border-box;
   padding: 8em 0;
   overflow: hidden;
}

section:not(.hero) {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.hero, .services, .how_we_started {
   min-height: 100vh;
}

.header {
   margin: 40px auto 0 auto;
   white-space: nowrap;

   .shadow {
      font-size: 30px;
      top: -20px; 
   }

   .text {
      font-size: 20px;
   }
}

.hero {
   position: relative;
   background-color: #1F2229;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   overflow: hidden;
   padding: 5em 0;

   .logo {
      position: absolute;
      top: 30px;
      left: 30px;
      color: #E3D6C4;
      font-family: 'Franklin Gothic', sans-serif;
      font-size: 24px;
      text-transform: uppercase;
   }

   .catchphrase {
      z-index: 2;
      box-sizing: border-box;
      width: calc(100vw - 200px);

      div {
         background: #9C5634;
         border: none;
         display: block;
         height: 5px;
         width: 152px;
         margin: 0 auto;
         transform: translateX(-50%);
         opacity: 0;
         animation: fadeIn 2s 1s ease-in-out forwards
      }

      p {
         font-family: 'Karla', sans-serif;
         font-size: 20px;
         color: #E3D6C4;
         text-align: center;
         transform: translateX(-50%);
         opacity: 0;
         animation: fadeIn 2s ease-in-out forwards
      }
   }

   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('images/Compass.jpg');
      background-size: cover;
      background-position: 50%;
      transform: translateZ(-2px) scale(2);
      opacity: 0.1;
   }
}

.services {
   box-sizing: border-box;
   z-index: 2;
   background-color: #E3D6C4;
   color: #9C5634;
   padding: 5em 0;

   .header {
      transform: scale(0);

      &.animate {
         animation: zoomIn 1s forwards;
      }
   }

   .service {
      font-family: 'Karla', sans-serif;
      text-align: center;
      width: calc(100vw - 100px);
      margin: 50px auto 0 auto;

      .icon {
         width: 50px;
         height: 50px;
         margin: 0 auto;
         img {
            height: 100%;
            width: 100%;
         }
      } 

      h4 {
         font-size: 18px;
         font-weight: bolder;
         margin: 10px 0;
         letter-spacing: 1px;
      }

      p {
         font-size: 14px;
         letter-spacing: 1px;
         line-height: 24px;
      }

      transform: translateX(-50%);
      opacity: 0;

      &.animate {
         animation: fadeIn 1s forwards;
      }
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateX(-50%);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes zoomIn {
   0% {
      transform: scale(0);
   }

   100% {
      transform: scale(1);
   }
}

.how_we_started {
   position: relative;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   overflow: hidden;
   color: #9D8159;
   background-color: #1F2229;
   transform-style: preserve-3d;

   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('images/plant.jpg');
      background-size: cover;
      background-position: 50%;
      opacity: .2;
      filter: saturate(50%);
   }

   .subtext {
      margin: 80px auto 0 auto;
      max-width: calc(100vw - 100px);
      min-width: 200px;
      width: 500px;
      z-index: 2;

      p {
         font-family: 'Karla', sans-serif;
         text-align: center;
         line-height: 26px;
         font-size: 14px;
      }

      hr {
         background: #9C5634;
         border: none;
         height: 4px;
         width: 80%;
      }
   }
}

.technologies {
   background-color: #E3D6C4;

   .header {
      color: #9C5634;
   }
   .tech_logos {
      margin-top: 50px;

      .row {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         padding: 0 25px;
         margin: 10px 0;

         &:not(:nth-child(1)) {
            padding-left: 70px;
         }

         .col {
            height: 75px;
            padding: 10px;

            img {
               height: 100%;
               width: auto;

               &#mysql {
                  height: 60px;
                  width: 100px;
                  margin: 5px 0;
               }

               &#aws {
                  height: 60px;
                  width: 100px;
                  margin: 20px 0;
               }
            }
         }
      }
   }
}

.sync {
   position: relative;
   background-color: rgba(0, 0, 0, .5);
   overflow: hidden;
   padding: 3em 0;

   h2 {
      text-align: center;
      margin: 10px 0;
      font-family: 'Franklin Gothic', sans-serif;
      font-size: 28px;
      color: #E3D6C4;
      letter-spacing: 5px;
      text-transform: uppercase;
   }

   &:before {
      content: '';   
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('images/Business.jpg') no-repeat;
      background-size: cover;
      background-position: 50%;
      transform: translateZ(-2px) scale(5);
      z-index: -1;
   }
}

.get_in_touch {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 10;
   font-family: 'Karla', sans-serif;
   box-sizing: border-box;
   background-color: #9D8159;
   color: #E3D6C4;
   padding: 5em 0;

   .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      h3 {
         font-size: 18px;
         letter-spacing: 1px;
         text-align: center;
         margin: 50px 0 10px;

      }

      p {
         margin: 3px 0;
         font-size: 10px;
         text-align: center;
      }

      form {
         display: flex;
         flex-direction: column;
         margin: 50px 0 20px;
         width: 80%;
         max-width: 500px;

         .row {
            display: flex;
            flex-direction: column;

            input {
               flex: 1;
            }
         }

         .input-text {
            display: flex;
            flex-direction: column;
         }

         input{
            box-sizing: border-box;
            border-radius: 50px;
            border: .5px solid #9D8159;
            background: rgba( 0, 0, 0, 0);
         }

         textarea {
            border-radius: 20px;
            border: .5px solid #9D8159;
            background: rgba( 0, 0, 0, 0);
            resize: none; 
         }

         input, textarea {
            margin: 2.5px 0;
            padding: 10px 20px;
            font-family: 'Karla', sans-serif;
            font-size: 10px;
            border: 1px solid #E3D6C4;
            caret-color: #E3D6C4;
            transition: .2s;
         }

         .input-text input, textarea {
            color: #E3D6C4;
         }

         #submit {
            color: #9D8159;
            letter-spacing: 1px;
            font-size: 14px;
         }

         input::placeholder, textarea::placeholder {
            color: rgba(227, 214, 196, 0.6);
            letter-spacing: 1px;
         }

         input:hover, textarea:hover{
            background: #E3D6C4;
            caret-color: #9D8159;
            color: #9D8159;
         }

         input:hover::placeholder, textarea:hover::placeholder {
            color: #9D8159;
         }

         #submit {
            box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
            background-color: #E3D6C4;
            cursor: pointer;
         }

         input:focus, textarea:focus {
            outline: none;
         }
      }
   }
}

@media screen and (min-width: 910px) {

   .menu {
      display: none;
   }

   .background-transparent-black {
      background: rgba(0, 0, 0, 0.5) !important;
   }

   nav {
      padding: 0;
      width: 100%;
      left: 0;
      transition: 0s;
      height: auto;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .2s;

      .logo {
         padding: 0 70px;
         font-size: 25px;
      }
      
      ul {
         padding: 0 50px !important;
         display: flex;
         justify-content: flex-end;
         flex: 1;

         li {
            font-size: 10px;
            margin: 20px;

            a {
               position: relative;
               display: flex;
               flex-direction: column;
               padding: 5px 10px;
               text-align: center;
               transition: all .2s;

               &::before {
                  content: '';
                  position: absolute;
                  height: 1px;
                  width: 0;
                  top: 0;
                  left: 0;
                  background: #E3D6C4;
                  transition: width .2s;
               }

               &::after {
                  content: '';
                  position: absolute;
                  height: 1px;
                  width: 0;
                  bottom: 0;
                  left: 0;
                  background: #E3D6C4;
                  transition: width .2s;
               }

               &:hover::before {
                  width: 100%;
               }

               &:hover::after {
                  width: 100%;
               }
            }
         }
      }
   }

   .header {
      .shadow {
         font-size: 60px;
         top: -50px; 
      }
   
      .text {
         font-size: 30px;
      }
   }

   .hero {
      justify-content: flex-start;

      .logo {
         display: none;
      }

      .catchphrase {
         display: flex;
         flex-direction: column;
         width: 50%;

         div {
            width: 80%;
            margin: 0 0 20px;
         }
         
         p {
            text-align: right;
            font-size: 22px;
            letter-spacing: 2px;
            margin-right: 50px;
         }
      }
   }

   .services {
      padding: 100px 0;
      
      .header {
         margin: 40px auto;
      }

      .row {
         box-sizing: border-box;
         width: 100%;
         display: flex;
         padding: 0 12%;

         .service {
            box-sizing: border-box;
            display: flex;

            width: 100%;

            img {
               width: 70px;
            }

            .description {
               box-sizing: border-box;
               text-align: left;
               padding: 0 40px;
            }
         }
      }
   }

   .technologies {
      .tech_logos {
         .row {
            .col {
               height: 100px;
            }
         }
      }
   }

   .get_in_touch {
      .contacts {

         h3 {
            font-size: 24px;
            letter-spacing: 2px;
         }
         p {
            font-size: 12px;
            letter-spacing: 1px;
         }

         form {
            .row {
               flex-direction: row;

               input:nth-child(1) {
                  margin-right: 3px;
               }
            }
         }
      }
   }
}